.purple-background {
  background: #1A1D1A;
  padding-top: 0px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  // width: 800px;
  // height: 550px;
}

.title {
  font-size: 30px;
  text-align: center;
  color: #F8C600;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
  padding-top: 0px;
}

.list-description {
  list-style: none;
  font-family: 'PT Sans Caption', sans-serif;
  line-height: 30px;
  padding: 0 10px 0 10px;
  font-size: 16px;
  color: #fff;
}

.list-description li {
  font-size: 18px;
  color: #808F85;
  font-family: 'PT Sans', sans-serif;

}

.links {
  color: #fff;
  font-size: 14px;
  padding-left: 0;
}

.links li {
  display: inline-block;
  text-decoration: none;
  width: 32%;
  margin: auto;
  text-align: center;
}

.links ul {
  padding-left: 5px;
  margin-top: 10px;
}

.list-info {
  color: #fff;
  list-style: none;
  position: relative;
  margin-bottom: 20px;

}

.list-info i {
  position: absolute;
  right: 10px;
  top: 6px;
}

.map img {
  width: 100%;
  padding-top: 20px;
}
btn-orange{
  margin-left:25%;
}