.purple-background {
  background: #1A1D1A;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  // width: 800px;
  // height: 550px;
}

.title {
font-size: 30px;
text-align: center;
font-family: 'PT Sans', sans-serif;
  color: #FFE3DC;
}

.list-description {
  list-style: none;
  font-family: 'PT Sans Caption', sans-serif;
  line-height: 30px;
  color: #4E6472;
  padding-left: 0;
}

.list-description li {
  font-size: 16px;
  color: #FFE3DC;
}

.links {
  display: inline-block;
  color: #fff;
  font-size: 14px;
}

.links ul {
  list-style: none;
}

.list-info {
  background: #4C4949;
  border-radius: 2px;
  color: #fff;
  list-style: none;
  position: relative;
  padding-left: 10px;
}

.list-info i {
  position: absolute;
  right: 13px;
  top: 6px;
}

.map img {
  width: 100%;
  padding-top: 20px;
}




