<h1>Bookings#edit</h1>
<p>Find me in app/views/bookings/edit.html.erb</p>
<%= simple_form_for [@booking] do |book| %>
  <%= book.error_notification %>
  <%= book.input :status, label: "Booking Status" %>  
  <%= book.button :submit %>
<% end %>
