<header>
  <div class="background-img" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../assets/images/party.jpg);">
  </div>
  <nav>
    <div class="row">
      <img src="../../assets/images/alarm-clock (1).svg" alt="Hippie-Logo" class="logo">

      <ul class="main-nav js--man-nav">
        <li><a href="#">How it works</a></li>
        <li><a href="#">Sign in</a></li>
        <li><a href="#">Sign up</a></li>
      </ul>
    </div>
  </nav>
</header>

