// BUTTONS

.btn-orange {
  background-color: #F8C600;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 4px;
  margin: 0 0 10px 0;
  transition: 0.4s;
  
}

.btn-orange:hover {
  color: black;
  background-color: white;
}

.btn-orange a {
  text-decoration: none;
  color: black;

}

.inline {
  display: inline-block;
}

.btn-blue {
  background-color: #blue;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 4px;
  margin: 0 0 10px 0;
  transition: 0.4s;
  margin-left: 25%;
}

.btn-blue:hover {
  color: black;
  background-color: white;
}

.btn-blue a {
  text-decoration: none;
  color: black;
}

