
// BUTTONS
.btn-pink {
  background-color: #C66798;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 4px;
  margin: 0 0 10px 0;
  transition: 0.4s;
  margin-left: 25%;
}

.btn-pink:hover {
  color: black;
  background-color: white;
}

.btn-pink a {
  text-decoration: none;
  color: black;

}

.btn-blue {
  background-color: #1C6DDD;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 4px;
  margin: 0 0 10px 0;
  transition: 0.4s;
  margin-left: 25%;
}

.btn-blue:hover {
  color: black;
  background-color: white;
}

.btn-blue a {
  text-decoration: none;
  color: black;

}
